# 5.데이터 확인

In [2]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col = 0)
df

            SW특기  과학   국어  사회   수학   영어   이름    키   학교
지원번호
1번        Python  95   90  85  100   85  채치수  197  북산고
2번          Java  55   40  25   50   35  정대만  184  북산고
3번    Javascript  80   80  75   70   75  송태섭  168  북산고
4번           NaN  75   40  80   70   60  서태웅  187  북산고
5번           NaN  35   15  10   10   20  강백호  188  북산고
6번             C  85   80  80   95  100  변덕규  202  능남고
7번        PYTHON  40   55  35   45   65  황태산  188  능남고
8번            C#  95  100  95   90   85  윤대협  190  능남고

## DataFrame 확인
계산 가능한 데이터에 대해 column 별로 데이터의 갯수, 평균, 표준편차, 최소/최댓값 등의 정보를 제공

In [4]:
df.describe()

              과학          국어         사회          수학          영어           키
count   8.000000    8.000000   8.000000    8.000000    8.000000    8.000000
mean   70.000000   62.500000  60.625000   66.250000   65.625000  188.000000
std    23.754699   29.519969  32.120032   30.325614   26.917533    9.985704
min    35.000000   15.000000  10.000000   10.000000   20.000000  168.000000
25%    51.250000   40.000000  32.500000   48.750000   53.750000  186.250000
50%    77.500000   67.500000  77.500000   70.000000   70.000000  188.000000
75%    87.500000   82.500000  81.250000   91.250000   85.000000  191.750000
max    95.000000  100.000000  95.000000  100.000000  100.000000  202.000000

In [5]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 9 columns):
SW특기    6 non-null object
과학      8 non-null int64
국어      8 non-null int64
사회      8 non-null int64
수학      8 non-null int64
영어      8 non-null int64
이름      8 non-null object
키       8 non-null int64
학교      8 non-null object
dtypes: int64(6), object(3)
memory usage: 640.0+ bytes

In [8]:
df.head() # 처음 5개의 row를 가져옴

            SW특기  과학  국어  사회   수학  영어   이름    키   학교
지원번호
1번        Python  95  90  85  100  85  채치수  197  북산고
2번          Java  55  40  25   50  35  정대만  184  북산고
3번    Javascript  80  80  75   70  75  송태섭  168  북산고
4번           NaN  75  40  80   70  60  서태웅  187  북산고
5번           NaN  35  15  10   10  20  강백호  188  북산고

In [9]:
df.head(7) # 처음 7개의 row를 가져옴

            SW특기  과학  국어  사회   수학   영어   이름    키   학교
지원번호
1번        Python  95  90  85  100   85  채치수  197  북산고
2번          Java  55  40  25   50   35  정대만  184  북산고
3번    Javascript  80  80  75   70   75  송태섭  168  북산고
4번           NaN  75  40  80   70   60  서태웅  187  북산고
5번           NaN  35  15  10   10   20  강백호  188  북산고
6번             C  85  80  80   95  100  변덕규  202  능남고
7번        PYTHON  40  55  35   45   65  황태산  188  능남고

In [7]:
df.tail() # 마지막 5개의 row를 가져옴

        SW특기  과학   국어  사회  수학   영어   이름    키   학교
지원번호
4번       NaN  75   40  80  70   60  서태웅  187  북산고
5번       NaN  35   15  10  10   20  강백호  188  북산고
6번         C  85   80  80  95  100  변덕규  202  능남고
7번    PYTHON  40   55  35  45   65  황태산  188  능남고
8번        C#  95  100  95  90   85  윤대협  190  능남고

In [11]:
df.tail(3) # 마지막 3개의 row를 가져옴

        SW특기  과학   국어  사회  수학   영어   이름    키   학교
지원번호
6번         C  85   80  80  95  100  변덕규  202  능남고
7번    PYTHON  40   55  35  45   65  황태산  188  능남고
8번        C#  95  100  95  90   85  윤대협  190  능남고

In [12]:
df.values

array([['Python', 95, 90, 85, 100, 85, '채치수', 197, '북산고'],
       ['Java', 55, 40, 25, 50, 35, '정대만', 184, '북산고'],
       ['Javascript', 80, 80, 75, 70, 75, '송태섭', 168, '북산고'],
       [nan, 75, 40, 80, 70, 60, '서태웅', 187, '북산고'],
       [nan, 35, 15, 10, 10, 20, '강백호', 188, '북산고'],
       ['C', 85, 80, 80, 95, 100, '변덕규', 202, '능남고'],
       ['PYTHON', 40, 55, 35, 45, 65, '황태산', 188, '능남고'],
       ['C#', 95, 100, 95, 90, 85, '윤대협', 190, '능남고']], dtype=object)

In [13]:
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object', name='지원번호')

In [14]:
df.columns

Index(['SW특기', '과학', '국어', '사회', '수학', '영어', '이름', '키', '학교'], dtype='object')

In [16]:
df

            SW특기  과학   국어  사회   수학   영어   이름    키   학교
지원번호
1번        Python  95   90  85  100   85  채치수  197  북산고
2번          Java  55   40  25   50   35  정대만  184  북산고
3번    Javascript  80   80  75   70   75  송태섭  168  북산고
4번           NaN  75   40  80   70   60  서태웅  187  북산고
5번           NaN  35   15  10   10   20  강백호  188  북산고
6번             C  85   80  80   95  100  변덕규  202  능남고
7번        PYTHON  40   55  35   45   65  황태산  188  능남고
8번            C#  95  100  95   90   85  윤대협  190  능남고

In [15]:
df.shape # row, column

(8, 9)

## Series 확인

In [18]:
df['키'].describe()

count      8.000000
mean     188.000000
std        9.985704
min      168.000000
25%      186.250000
50%      188.000000
75%      191.750000
max      202.000000
Name: 키, dtype: float64

In [19]:
df['키'].min()

168

In [20]:
df['키'].max()

202

In [22]:
df['키'].nlargest(3) # 키 큰 사람 순서대로 3명 데이터

지원번호
6번    202
1번    197
8번    190
Name: 키, dtype: int64

In [23]:
df['키'].mean()

188.0

In [26]:
df['키'].sum()

1504

In [28]:
df['SW특기'].count()

6

In [29]:
df['학교'].unique()

array(['북산고', '능남고'], dtype=object)

In [37]:
df['학교'].nunique()

2

In [39]:
df['학교'].value_counts()

북산고    5
능남고    3
Name: 학교, dtype: int64